<div class="row">
    <ag-grid-angular   name = "agSample1"
                       style="width: 98%; height: 400px;" 
                       class="ag-theme-balham"
                       [rowData]="rowData" 
                       [columnDefs]="columnDefs"
                       [defaultColDef]="defaultColDef"
                       [overlayLoadingTemplate]="loadingTemplate"
                       [overlayNoRowsTemplate]="noRowsTemplate">
                        
   </ag-grid-angular>
</div>
<div class="row" style="margin-top: 20px;">
   <div class="col-sm-8">
       <div class="custom-btn text-left">           
           <button  class="btn  custom-cancel-btn" style ="margin-left: 0px;"  name="btnClear" (click)="GoBacktoEmail();">Back</button>                       
           <button  class="btn custom-blue-btn" (click)="PublishAudit();" name="btnPublish" >Publish</button>
       </div>
   </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: grey">Please Wait. </p>  
</ngx-spinner>