<div class="tab-content">
    <div style="margin: 160px auto;">
      <div class="row">
        <h1 class="main-head-title-1">ART Login</h1>
      </div>
      
      <div class="row" style="margin-left: 30px; margin-bottom: 30px; justify-content: center;">
        <div class="col-sm-3">
          <label for="label-1" class="control-label">Associate ID</label>
          <input type=text id="userID" class="form-control" name="loginid" placeholder="Enter your associate id"  >
        </div>
      </div>
      <div class="row" style="margin: 0px 18px; justify-content: center;">
        <button  class="btn custom-blue-btn" (click)="OnLogin()">Login</button>
      </div>
    </div>
  </div>
