<div class="custom-tooltip">
  <div class="row weightage-data">
    <div class="col">
      <span>Cliff(%)</span>
      <p>{{ data.cliff_percent }}</p>
    </div>
    <div class="col">
      <span>Needs improvement</span>
      <p>{{ data.need_improvement_percent }}</p>
    </div>
    <div class="col">
      <span>Partially ready</span>
      <p>{{ data.partially_ready_percent }}</p>
    </div>
    <div class="col">
      <span>Audit ready</span>
      <p>{{ data.audit_ready_percent }}</p>
    </div>
  </div>
  <div class="objective-data">
    <p><span>{{objectiveupdate}}</span></p>
  </div>
</div>