<!-- <mat-card fxLayoutGap>

    <p mat-dialog-title>{{data.title}}</p>

    <p display-2>{{data.message}}</p>


    <div mat-dialog-actions>
        <button mat-button (click)="onDismiss()">No</button>
        <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
    </div>
</mat-card> -->

<div class="modal modal-content">
    <div class="modal-header">
        <p class="sub-head-title">{{title}}</p>
        <!-- <button type="button" class="close pull-right" aria-label="Close">  
            <span aria-hidden="true">×</span>  
        </button> -->
    </div>
    <div class="modal-body" style="padding: 0 1rem !important;">
        <p class="control-label">{{message}}</p>
    </div>
    <hr style="margin: 50px 16px 20px;">
    <div class="modal-footer">
        <button class="btn custom-cancel-btn" (click)="onDismiss()">No</button>
        <button class="btn custom-blue-btn"  (click)="onConfirm()">Yes</button>
    </div>
</div>
